@font-face {
  font-family: "Old London";
  src: url("../SRC/fonts/OldLondon.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Cloister Black";
  src: url("../SRC/fonts/CloisterBlack.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "The Centurion";
  src: url("../SRC/fonts/The\ Centurion\ .ttf");
  font-style: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #0a0a0a;
  font-family: "The Centurion", "Old London", "Cloister Black", Arial;
}
.left-menu {
  display: flex;
  flex-direction: column;
  background-color: #c7bd9b;
  float: left;
  height: 100vh;
  position: fixed;
  font-size: 55px;
  transition: 0.5s;
}
.open-menu {
  width: 15%;
}
.open-menu + .main-section {
  width: 85%;
}
.open-menu .burger-box {
  visibility: collapse;
}
.open-menu .icon-menu {
  visibility: collapse;
}
.close-menu {
  width: 5%;
  padding-top: 50px;
}
.close-menu + .main-section {
  width: 95%;
}
.close-menu .text-menu {
  visibility: collapse;
}
.close-menu .icons {
  height: 50% !important;
}
.close-menu .icons .interior {
  justify-content: space-evenly !important;
  flex-direction: column !important;
}
.left-menu .burger-box {
  cursor: pointer;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.left-menu .text-menu {
  height: 80%;
}
.left-menu .icon-menu {
  height: 50%;
  margin: 10px 0;
}
.left-menu .icon-menu .icons-menu {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.left-menu .icon-menu .icons-menu .icon-option {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33%;
}
.left-menu .icon-menu .icons-menu .icon-option img {
  width: 60%;
  height: 60%;
}
.left-menu .text-menu .btn-close-menu {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
  position: relative;
  left: 60%;
  cursor: pointer;
}
.left-menu .text-menu .options-menu .option-menu::first-letter {
  color: #9a3327;
}
.left-menu .text-menu .options-menu .option-menu {
  list-style: none;
  padding: 0 5%;
  text-align: center;
  margin: 20px;
}
.left-menu .icons {
  height: 20%;
  width: 100%;
  padding: 5%;
}
.left-menu .icons .interior {
  width: 100%;
  height: 80%;
  padding: 2% 2.5%;
  border: 3px solid #0a0a0a;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.left-menu .icons .interior a,
.left-menu .icons .interior button {
  display: block;
  width: 30px;
  height: 30px;
  /* margin: 20px; */
}
.left-menu .icons .interior .Home {
  content: url("../SRC/img/cabana-de-madera.svg");
}
.left-menu .icons .interior .nofitication {
  content: url("../SRC/img/bell-solid.svg");
}
.left-menu .icons .interior .inbox {
  content: url("../SRC/img/inbox-solid.svg");
}
.left-menu .icons .interior .shopping-car {
  content: url("../SRC/img/cart-shopping-solid.svg");
}
.main-section {
  float: right;
  /* width: 70%; */
  transition: 0.5s;
}
.main-section .section-presentation {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  padding: 5% 0;
}
.main-section .section-presentation .video-presentation {
  width: 50%;
  height: 100%;
  border-radius: 10px;
}
.main-section .section-presentation .section-compras {
  width: 100%;
  height: 500px;
}
.main-section .section-compras .show-productos {
  width: 100%;
  height: 100px;
}
.main-section .section-compras .show-productos .cabezera {
  background-color: #fffbfb;
  box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.45);
  font-family: "Old London";
}
.main-section .section-compras .show-productos .cabezera .cuerpo {
  display: flex;
  flex-direction: row;
}
.main-section .section-compras .show-productos .cabezera .cuerpo .serch-bar {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0a0a0a;
}
.main-section
  .section-compras
  .show-productos
  .cabezera
  .cuerpo
  .serch-bar
  .complete-serch-bar {
  box-shadow: 5px 10px 15px rgba(10, 10, 10, 0.8);
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.main-section
  .section-compras
  .show-productos
  .cabezera
  .cuerpo
  .serch-bar
  .complete-serch-bar
  * {
  background-color: #fffbfb;
  border: none;
  padding-left: 25px;
  font-size: 30px;
}
.main-section
  .section-compras
  .show-productos
  .cabezera
  .cuerpo
  .serch-bar
  .complete-serch-bar
  .combo-text {
  border-radius: 10px 0 0 10px;
}
.main-section
  .section-compras
  .show-productos
  .cabezera
  .cuerpo
  .serch-bar
  .complete-serch-bar
  .text-datalist {
  border-radius: 0 10px 10px 0;
}
.main-section
  .section-compras
  .show-productos
  .cabezera
  .cuerpo
  th:nth-child(2n + 1) {
  width: 15%;
}
.main-section
  .section-compras
  .show-productos
  .cabezera
  .cuerpo
  th:nth-child(2n + 1)
  img {
  width: 100px;
  height: 100px;
}
.main-section .section-compras .show-productos .cuerpo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
}
.main-section .section-compras .show-productos .cuerpo .body {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 120px;
  font-size: 25px;
  background-color: #fffaf5;
  box-shadow: 0px 5px 20px 5px rgba(10, 10, 10, 0.45);
  border-radius: 10px;
}
.main-section .section-compras .show-productos .cuerpo .body * {
  font-family: "Old London";
}
.main-section .section-compras .show-productos .cuerpo .body .ilustration {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}
.main-section .section-compras .show-productos .cuerpo .body .ilustration img {
  width: 90%;
  height: 90%;
}
.main-section .section-compras .show-productos .cuerpo .body .description {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.main-section .section-compras .show-productos .cuerpo .body .money-value {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section .section-compras .show-productos .cuerpo .body .se_comprara {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section
  .section-compras
  .show-productos
  .cuerpo
  .body
  .se_comprara
  input {
  width: 40%;
  height: 40%;
}
