<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <base href="localhost">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/sites.css">
  <script src="../Js/site.js" defer></script>
  <title>El señor de las notas</title>
</head>

<body>
  <main class="cuerpo-completo close-menu">
    <aside class="left-menu">
      <img class="burger-box" src="../SRC/img/burger-box.svg" alt="">
      <menu class="text-menu">
        <img class="btn-close-menu"
          src="../SRC/img/kisspng-arrow-computer-icons-clip-art-5af96bd2692b19.3627848315262955064308.svg"
          alt="cerrar" />
        <ul class="options-menu">
          <!-- <figure class="selector"></figure> -->
          <li class="option-menu">Video</li>
          <li class="option-menu">Buscar</li>
          <li class="option-menu">Productos</li>
        </ul>
      </menu>
      <menu class="icon-menu">
        <ul class="icons-menu">
          <li class="icon-option">
            <img src="../SRC/img/video.svg" alt="">
          </li>
          <li class="icon-option">
            <img src="../SRC/img/search.svg" alt="">
          </li>
          <li class="icon-option">
            <img src="../SRC/img/guitar.svg" alt="">
          </li>
        </ul>
      </menu>
      <footer class="icons">
        <div class="interior">
          <a aria-label="Regresar al menu" class="Home" href="../index.html"></a>
          <a aria-label="Ver notificaciones" class="nofitication" href=""></a>
          <a aria-label="Ver mensajes" class="inbox" href=""></a>
          <a aria-label="Ver carrito de compras" class="shopping-car" href=""></a>
        </div>
      </footer>
    </aside>
    <main class="main-section">
      <article class="section-presentation">
        <iframe class="video-presentation" loop autoplay
          src="https://www.youtube.com/embed/D15pUsjJd8w?controls=0&autoplay=1&loop=1&playlist=D15pUsjJd8w"
          title="YouTube video player" frameborder="0" allow="autoplay; loop;" allowfullscreen></iframe>
      </article>
      <article class="section-compras">
        <!-- <table class="show-productos">
        <thead class="cabezera">
          <tr class="cuerpo">
            <th><img src="../SRC/img/inglesa.png" alt="Escudo de armas inglesa"></th>
            <th class="serch-bar">
              <div class="complete-serch-bar">
                <select title="Categorias" placeholder="Categorias" class="combo-text">
                  <option selected>Categorias</option>
                  <option>Informal</option>
                  <option>Formal</option>
                  <option>Columna</option>
                </select>
                <input class="text-datalist" type="text" placeholder="Buscar" list="name-instruments">
                <datalist id="name-instruments">
                  <option value="Yammaha">
                    <option value="Jupiter">
                      <option value="Silvertone">
                        <option value="Noble">
                        </datalist>
                      </div>
                      <th><img src="../SRC/img/romana.png" alt="Escudo de armas Romana"></th>
                    </th>
                  </tr>
                </thead>
        <tbody class="cuerpo">
          <tr class="body">
            <td class="ilustration"><img src="../SRC/img/armonica-removebg-preview.png" alt=""></td>
            <td><input type="hidden" value="No sea metiche"></td>
            <td class="description">Armonica Seydel Blues 1847 Noble</td>
            <td class="money-value">$3372.80</td>
            <td class="se_comprara"><input title="Comprar" type="checkbox"></td>
          </tr>
          <tr class="body">
            <td class="ilustration"><img src="../SRC/img/saxofon-removebg-preview.png" alt=""></td>
            <td><input type="hidden" value="No sea metiche"></td>
            <td class="description">Saxofon Alto Yamaha Custom YAS-875EX</td>
            <td class="money-value">$97,499</td>
            <td class="se_comprara"><input title="Comprar" type="checkbox"></td>
          </tr>
          <tr class="body">
            <td class="ilustration"><img src="../SRC/img/tuba-removebg-preview.png" alt=""></td>
            <td><input type="hidden" value="No sea metiche"></td>
            <td class="description">Tuba Sousafon Dorada Hight GRADE 26 Silvertone</td>
            <td class="money-value">$53,999</td>
            <td class="se_comprara"><input title="comprar" type="checkbox"></td>
          </tr>
        </tbody>
        <!--   <tfoot>
            <p>Total: </p>
            <p>$X</p>
          </tfoot>
        </table> -->
        <main class="show-productos">
          <section class="cabezera">
            <img src="../SRC/img/inglesa.png" alt="Escudo de armas inglesa">
            <div class="serch-bar">
              <menu class="complete-serch-bar">
                <select title="Categorias" placeholder="Categorias" class="combo-text">
                  <option selected>Categorias</option>
                  <option>Informal</option>
                  <option>Formal</option>
                  <option>Columna</option>
                </select>
                <input class="text-datalist" type="text" placeholder="Buscar" list="name-instruments">
                <datalist id="name-instruments">
                  <option value="Yammaha">
                  <option value="Jupiter">
                  <option value="Silvertone">
                  <option value="Noble">
                </datalist>
              </menu>
            </div>
            <img src="../SRC/img/romana.png" alt="Escudo de armas Romana">
          </section>
          <section class="cuerpo">
            <div class="body">
              <input type="hidden" value="NaN">
              <img class="ilustration" src="../SRC/img/armonica-removebg-preview.png" alt="">
              <p class="description">Armonica Seydel Blues 1847 Noble</p>
              <p class="money-value"><strong>
                  $3372.80
                </strong>
              </p>
              <div class="se_comprara">
                <label for="chkBox1">Agregar al carrito</label>
                <input id="chkBox1" title="Comprar" type="checkbox">
              </div>
            </div>
            <div class="body">
              <input type="hidden" value="NaN">
              <img src="../SRC/img/saxofon-removebg-preview.png" class="ilustration" alt="">
              <p class="description">Saxofon Alto Yamaha Custom YAS-875EX</p>
              <p class="money-value"><strong>$97,499</strong></p>
              <div class="se_comprara">
                <label for="chkBox2">Agregar al carrito</label>
                <input id="chkBox2" title="Comprar" type="checkbox">
              </div>
            </div>
          </section>
        </main>
      </article>
    </main>
  </main>
</body>

</html>