<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="localhost">
  <link rel="stylesheet" href="/CSS/sites.css">
  <title>El señor de las notas</title>
</head>
<body>
  <aside class="left-menu">
      <menu class="text-menu">
        <img
          class="btn-close-menu"
          src="SRC/kisspng-arrow-computer-icons-clip-art-5af96bd2692b19.3627848315262955064308.svg"
          alt="cerrar"
        />
        <ul class="options-menu">
        <figure class="selector"></figure>
          <li class="option-menu">Video</li>
          <li class="option-menu">Productos</li>
          <li class="option-menu">Comprar</li>
        </ul>
      </menu>
      <footer class="icons">
        <div class="interior">
        <a class="Home" href="index.html"></a>
        <a class="nofitication"></a>
        <a class="inbox"></a>
        <a class="shopping-car" href=""></a> 
        </div>
      </footer>
    </aside>
    <main class="main-section">
      <article class="section-presentation">
        <iframe class="video-presentation" loop autoplay src="https://www.youtube.com/embed/D15pUsjJd8w?controls=0&autoplay=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; loop" allowfullscreen></iframe>
             </article>
      <article class="section-compras">
        <table class="show-productos">
          <thead class="cabezera">
              <tr class="cuerpo">
                <th><img src="SRC/inglesa.png" alt="Escudo de armas inglesa"></th>
                <th class="serch-bar">
                  <div class="complete-serch-bar">
                  <select class="combo-text">
                    <option selected>Categorias</option>
                    <option>Informal</option> 
                    <option>Formal</option>
                    <option>Columna</option>
                  </select>
                  <input class="text-datalist" type="text" placeholder="Buscar" list="name-instruments">
                  <datalist id="name-instruments"> 
                    <option value="Yammaha">
                    <option value="Jupiter">
                    <option value="Silvertone"> 
                    <option value="Noble"> 
                  </datalist>
                  </div>
                  <th><img src="SRC/romana.png" alt="Escudo de armas Romana"></th>
                </th>
              </tr>
          </thead>
          <tbody class="cuerpo">
            <tr class="body">
              <td class="ilustration"><img src="/SRC/armonica-removebg-preview.png" alt=""></td>
              <td><input type="hidden" value="No sea metiche"></td>
              <td class="description">Armonica Seydel Blues 1847 Noble</td>
              <td class="money-value">$3372.80</td>
              <td class="se_comprara"><input type="checkbox"></td>
            </tr>
            <tr class="body">
              <td class="ilustration"><img src="/SRC/saxofon-removebg-preview.png" alt=""></td>
              <td><input type="hidden" value="No sea metiche"></td>
              <td class="description">Saxofon Alto Yamaha Custom YAS-875EX</td>
              <td class="money-value">$97,499</td>
              <td class="se_comprara"><input type="checkbox"></td>
            </tr>
              <tr class="body">
              <td class="ilustration"><img src="/SRC/tuba-removebg-preview.png" alt=""></td>
              <td><input type="hidden" value="No sea metiche"></td>
              <td class="description">Tuba Sousafon Dorada Hight GRADE 26 Silvertone</td>
              <td class="money-value">$53,999</td>
              <td class="se_comprara"><input type="checkbox"></td>
            </tr>
          </tbody>
          <!--   <tfoot>
            <p>Total: </p>
            <p>$X</p>
            </tfoot>-->
        </table>
      </article>
    </main>
 
</body>
</html>
