<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <base href="localhost" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/sites.css" />
  <title>El señor de las notas</title>
</head>

<body>
  <aside class="left-menu">
    <menu class="text-menu">
      <img class="btn-close-menu"
        src="../SRC/img/kisspng-arrow-computer-icons-clip-art-5af96bd2692b19.3627848315262955064308.svg" alt="cerrar" />
      <ul class="options-menu">
        <!-- <figure class="selector"></figure> -->
        <li class="option-menu">Video</li>
        <li class="option-menu">Productos</li>
        <li class="option-menu">Comprar</li>
      </ul>
    </menu>
    <footer class="icons">
      <div class="interior">
        <a title="Regresar al inicio" class="Home" href="../index.html"></a>
        <a title="Ver notificaciones" class="nofitication" href=""></a>
        <a title="Ver mensajes" class="inbox" href=""></a>
        <a title="Ver carrito de compras" class="shopping-car" href=""></a>
      </div>
    </footer>
  </aside>
  <main class="main-section">
    <article class="section-presentation">
      <video class="video-presentation" autoplay loop>
        <source src="../SRC/video/videoplayback.mp4" type="video/mp4">
        </source>
      </video>
    </article>
    <article class="section-compras">
      <table class="show-productos">
        <thead class="cabezera">
          <tr class="cuerpo">
            <th><img src="../SRC/img/inglesa.png" alt="Escudo de armas inglesa"></th>
            <th class="serch-bar">
              <div class="complete-serch-bar">
                <select title="Categorias" class="combo-text">
                  <option selected>Categorias</option>
                  <option>Acordeon</option>
                  <option>Guitarra</option>
                  <option>Bajo</option>
                </select>
                <input class="text-datalist" type="text" placeholder="Buscar" list="name-instruments">
                <datalist id="name-instruments">
                  <option value="Hohner">
                  <option value="Cort">
                  <option value="Spector">
                </datalist>
              </div>
            <th><img src="../SRC/img/romana.png" alt="Escudo de armas Romana"></th>
            </th>
          </tr>
        </thead>
        <tbody class="cuerpo">
          <tr class="body">
            <td class="ilustration"><img src="../SRC/img/Acordeon-removebg-preview.png" alt=""></td>
            <td><input type="hidden" value="No sea metiche"></td>
            <td class="description">Acordeon Diatonico Anacleto By Hohner White Hawk</td>
            <td class="money-value">$179,249</td>
            <td class="se_comprara"><input title="Comprar" type="checkbox"></td>
          </tr>
          <tr class="body">
            <td class="ilustration"><img src="../SRC/img/bajo-removebg-preview.png" alt=""></td>
            <td><input type="hidden" value="No sea metiche"></td>
            <td class="description">Bajo electrico SPECTOR Legend 4</td>
            <td class="money-value">$26,285</td>
            <td class="se_comprara"><input title="Comprar" type="checkbox"></td>
          </tr>
          <tr class="body">
            <td class="ilustration"><img src="../SRC/img/guitarra-removebg-preview.png" alt=""></td>
            <td><input type="hidden" value="No sea metiche"></td>
            <td class="description">Guitarra electrica Cort X</td>
            <td class="money-value">$179,249</td>
            <td class="se_comprara"><input title="Comprar" type="checkbox"></td>
          </tr>
        </tbody>
        <!--   <tfoot>
            <p>Total: </p>
            <p>$X</p>
            </tfoot>-->
      </table>
    </article>
  </main>
</body>

</html>