<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="localhost">
  <link rel="stylesheet" href="/CSS/sites.css">
  <title>EL señor de las notas</title>
</head>
<body>
  <aside class="left-menu">
      <menu class="text-menu">
        <img
          class="btn-close-menu"
          src="SRC/kisspng-arrow-computer-icons-clip-art-5af96bd2692b19.3627848315262955064308.svg"
          alt="cerrar"
        />
        <ul class="options-menu">
        <figure class="selector"></figure>
          <li class="option-menu">Video</li>
          <li class="option-menu">Productos</li>
          <li class="option-menu">Comprar</li>
        </ul>
      </menu>
      <footer class="icons">
        <div class="interior">
        <a class="Home" href="index.html"></a>
        <a class="nofitication"></a>
        <a class="inbox"></a>
        <a class="shopping-car" href=""></a> 
        </div>
      </footer>
    </aside>
    <main class="main-section">
      <article class="section-presentation">
             <video autoplay loop class="video-presentation">
              <source src="/SRC/Launchpad VS Launchkey -- Für Elise [Dubstep Remix].mp4" type="video/mp4"></source>
             </video>
      </article>
      <article class="section-compras">
        <table class="show-productos">
          <thead class="cabezera">
              <tr class="cuerpo">
                <th><img src="SRC/inglesa.png" alt="Escudo de armas inglesa"></th>
                <th class="serch-bar">
                  <div class="complete-serch-bar">
                  <select class="combo-text">
                    <option selected>Categorias</option>
                    <option>Generacion electrica completa</option> 
                    <option>Electricamente aplificado</option>
                  </select>
                  <input class="text-datalist" type="text" placeholder="Buscar" list="name-instruments">
                  <datalist id="name-instruments"> 
                    <option value="Mooogo">
                    <option value="Jackson">
                    <option value="inMusic"> 
                  </datalist>
                  </div>
                  <th><img src="SRC/romana.png" alt="Escudo de armas Romana"></th>
                </th>
              </tr>
          </thead>
          <tbody class="cuerpo">
            <tr class="body">
              <td class="ilustration"><img src="/SRC/termin-removebg-preview.png" alt=""></td>
              <td><input type="hidden" value="No sea metiche"></td>
              <td class="description">Moogo thermini, multicolor, medium</td>
              <td class="money-value">$9,468</td>
              <td class="se_comprara"><input type="checkbox"></td>
            </tr>
            <tr class="body">
              <td class="ilustration"><img src="/SRC/guitarra-detres-removebg-preview.png" alt=""></td>
              <td><input type="hidden" value="No sea metiche"></td>
              <td class="description">Jackson Js Series Rhoad Negro Satinado</td>
              <td class="money-value">$7,640</td>
              <td class="se_comprara"><input type="checkbox"></td>
            </tr>
              <tr class="body">
              <td class="ilustration"><img src="/SRC/teclado-removebg-preview.png" alt=""></td>
              <td><input type="hidden" value="No sea metiche"></td>
              <td class="description">Alesis Melody Piano electrico con altavoces</td>
              <td class="money-value">$2,685</td>
              <td class="se_comprara"><input type="checkbox"></td>
            </tr>
          </tbody>
          <!--   <tfoot>
            <p>Total: </p>
            <p>$X</p>
            </tfoot>-->
        </table>
      </article>
    </main>  
</body>
</html>
