<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="localhost">
  <link rel="stylesheet" href="/CSS/sites.css">
  <title>El señor de las notas</title>
</head>
<body>
   <aside class="left-menu">
      <menu class="text-menu">
        <img
          class="btn-close-menu"
          src="SRC/kisspng-arrow-computer-icons-clip-art-5af96bd2692b19.3627848315262955064308.svg"
          alt="cerrar"
        />
        <ul class="options-menu">
        <figure class="selector"></figure>
          <li class="option-menu">Video</li>
          <li class="option-menu">Productos</li>
          <li class="option-menu">Comprar</li>
        </ul>
      </menu>
      <footer class="icons">
        <div class="interior">
        <a class="Home" href="index.html"></a>
        <a class="nofitication"></a>
        <a class="inbox"></a>
        <a class="shopping-car" href=""></a> 
        </div>
      </footer>
    </aside>
    <main class="main-section">
      <article class="section-presentation">
          <iframe class="video-presentation" autoplay loop src="https://www.youtube.com/embed/43o1bToShjo?controls=0&autoplay=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
      </article>
      <article class="section-compras">
        <table class="show-productos">
          <thead class="cabezera">
              <tr class="cuerpo">
                <th><img src="SRC/inglesa.png" alt="Escudo de armas inglesa"></th>
                <th class="serch-bar">
                  <div class="complete-serch-bar">
                  <select class="combo-text">
                    <option selected>Categorias</option>
                    <option>Percitidos</option> 
                    <option>Semisacudidos</option>
                    <option>Punteados</option> 
                    <option>Frotados</option>
                    <option>Con manos o dedos</option>
                  </select>
                  <input class="text-datalist" type="text" placeholder="Buscar" list="name-instruments">
                  <datalist id="name-instruments"> 
                    <option value="KMC music">
                    <option value="Vbestlife"> 
                  </datalist>
                  </div>
                  <th><img src="SRC/romana.png" alt="Escudo de armas Romana"></th>
                </th>
              </tr>
          </thead>
          <tbody class="cuerpo">
            <tr class="body">
              <td class="ilustration"><img src="https://e7.pngegg.com/pngimages/404/473/png-clipart-musical-triangles-babies-make-music-musical-instruments-drum-egg-shaker-angle-triangle.png" alt=""></td>
              <td><input type="hidden" value="No sea metiche"></td>
              <td class="description">Triangulo Juga 2 TOnos</td>
              <td class="money-value">$179,249</td>
              <td class="se_comprara"><input type="checkbox"></td>
            </tr>
            <tr class="body">
              <td class="ilustration"><img src="/SRC/arpa-de-boca-removebg-preview.png" alt=""></td>
              <td><input type="hidden" value="No sea metiche"></td>
              <td class="description">Arpa de mandibula austriaca alto</td>
              <td class="money-value">$274</td>
              <td class="se_comprara"><input type="checkbox"></td>
            </tr>
              <tr class="body">
              <td class="ilustration"><img src="/SRC/raspador-removebg-preview.png" alt=""></td>
              <td><input type="hidden" value="No sea metiche"></td>
              <td class="description">Guiro de plastico de percicion</td>
              <td class="money-value">$179,249</td>
              <td class="se_comprara"><input type="checkbox"></td>
            </tr>
          </tbody>
          <!--   <tfoot>
            <p>Total: </p>
            <p>$X</p>
            </tfoot>-->
        </table>
      </article>
    </main>
 
</body>
</html>
